.navlink{
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.navlink-a {
  display: block;
  padding: 9px;
  background-color: #474747;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #494949;
}

.navlink {
  float: left;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.first {
  border-right: 4px solid black;
  border-left: 4px solid black;
}

.last {
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.navlink .navlink-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlink .navlink-a:hover {
  background-color: #111;
}